img {
    margin: 0 33%
}

input[type=search] {
    margin: 0 auto;
    width: 833px;
}

.navBar li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

.navBar a {
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
}

.navBar ul {
    background-color: #dddddd;
}
li.navBarRight {
    float: right;
}